Django>=1.11,<2.0
django-simple-history==2.0
httplib2==0.11.3
apiclient==1.0.3
google-api-python-client==1.6.6
psycopg2-binary==2.7.4
celery==4.1.0
redis==2.10.6
gunicorn==19.7.1
django-prettyjson==0.3.2
djangorestframework==3.8.2
django-cors-headers==2.2.0
django-webpack-loader==0.6.0
python-dateutil==2.7.2
django-su==0.6.0
Pillow==5.1.0
django-tinymce==2.7.0
raven==6.6.0
kombu==4.1.0
